.map {
  min-width: 100%;
  height: 800px;
  margin-bottom: 1rem;
}

.icon {
  svg {
    background-color: #f6f6f5;
    path {
      fill: red;
    }
  }
}

.icon-not-in-pass {
  svg {
    background-color: #f6f6f5;
    path {
      fill: #25026c;
    }
  }
}
