@use "../styles/_colors.scss" as colors;

.searchfields {
  margin-bottom: 1rem;
}

.multiselect {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1rem;

  input {
    border: none;
    border-bottom: 1px solid colors.$border;
    margin-left: 0.5rem;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid colors.$border-dark;
    }

    &::placeholder {
      font-weight: bold;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
}
