@use "../styles/_colors.scss" as colors;

.tag {
  white-space: nowrap;
  justify-content: center;
  display: inline-flex;
  margin: 4px;

  &.is-selected {
    background-color: colors.$primary;
    border-color: colors.$selected;
    color: colors.$background;
  }
  &:hover {
    background-color: colors.$hover;
  }
}
